<% content_for :breadcrumb do %>
  <div class="row has-breadcrumb">
    <ol class="breadcrumb">
      <% if @service.deployment %>
        <li><%= link_to t('obj.deployments'), "/deployments" %></li>
        <li><%= link_to @service.deployment.name, deployments_path(@service.deployment) %></li>
      <% end %>
      <li><%= link_to @service.label, container_service_path(@service) %></li>
      <li class="active">Settings and Environmental Parameters</li>
    </ol>
  </div>
<% end %>

<div class="row">
  <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <%= link_to "Create Setting", "settings/new", class: "btn btn-primary btn-sm pull-right" %>
        <small>SETTINGS</small>
        <%= render partial: 'container_services/settings/index', locals: { service: @service } %>
      </div>
    </div>
  </div>
</div>
