<%= form_tag "/admin/subscriptions/#{@subscription.id}/subscription_usage", id: 'deleteUsageItems', method: :delete do %>
  <table class="table">
    <thead>
      <tr>
        <th style="padding-left:3px;">
          <%= button_tag type: 'submit', class: 'btn btn-danger btn-sm', data: {confirm: 'Are you sure?'} do %>
            <i class="fa fa-trash"></i>
          <% end %>
        </th>
        <th>Product</th>
        <th>Period</th>
        <th>Rate</th>
        <th>Billable Qty</th>
        <th>Price</th>
        <th>Total Qty</th>
        <th>Processed On</th>
      </tr>
    </thead>
    <tbody>
      <% if usages.empty? %>
        <tr>
          <td colspan="7" class="text-center">No Usage Data</td>
        </tr>
      <% end %>
      <% usages.each do |i| %>
        <tr title="<%= i.id %>">
          <td><input class="chkbox-multi" type="checkbox" name="billing_usage_ids[]" value="<%= i.id %>"></td>
          <td><%= i.product&.label %></td>
          <td>
            <%= l i.period_start, format: :short %>
            <i class="fa fa-long-arrow-right"></i> <%= l i.period_end, format: :short %>
          </td>
          <td><%= i.rate.round(6) %></td>
          <td><%= i.qty.round(6) %></td>
          <td><%= i.total.round(6) %></td>
          <td><%= i.qty_total.round(6) %></td>
          <td><%= i.processed && !i.processed_on.nil? ? l(i.processed_on, format: :short) : '...' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <span class="help-block">Hint: Use the shift key to select a range of checkboxes.</span>
<% end %>
