<div class="panel <%= @enabled ? "panel-success" : "panel-default" %>">
  <div class="panel-heading" style="padding:2px;"></div>
  <div class="panel-body">
    <strong>PROTECTED MODE</strong>
  </div>
  <div class="panel-body text-center">
    <% if @enabled %>
      <%= link_to "Deactivate Protected Mode", "/container_services/#{@service.id}/wordpress/protect", method: :delete %>
    <% else %>
      <%= link_to "Activate Protected Mode", "/container_services/#{@service.id}/wordpress/protect", method: :post %>
    <% end %>
  </div>
  <% if @enabled %>
    <table class="table-list">
      <tr>
        <td>Username</td>
        <td><%= @protect.username %></td>
      </tr>
      <tr>
        <td>Password</td>
        <td class="code-font-minimal"><%= @protect.password %></td>
      </tr>
    </table>
  <% end %>

</div>
