<% if @domains.empty? %>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-body text-center">No Domains</div>
      </div>
    </div>
  </div>
<% else %>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Domain</th>
              <th>Enabled?</th>
              <th>Container Service</th>
              <th>Created</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @domains.each do |i| %>
              <tr>
                <td><%= link_to i.id, admin_container_domains_path(i) %></td>
                <td>
                  <%= i.domain %>
                  <%= domain_le_badge(i) unless i.system_domain? %>
                </td>
                <td><%= i.enabled ? 'Yes' : 'No' %></td>
                <td><%= i.container_service.nil? ? '...' : link_to(i.container_service.label, "#{admin_deployments_path(@deployment)}/services/#{i.container_service.id}") %></td>
                <td><%= l i.created_at.in_time_zone(Time.zone), format: :short %></td>
                <td class="text-right">
                  <div class="btn-group">
                    <%= link_to "#{icon('fa-solid', 'refresh')} #{t('container_services.certificates.verify_domain')}".html_safe, "#{admin_deployments_path(@deployment)}/domains/#{i.id}/verify_dns", method: :post, class: 'btn btn-xs btn-default' if i.le_require_verify? %>
                    <%= link_to icon('fa-solid', 'wrench'), admin_edit_container_domains_path(i), class: 'btn btn-default btn-sm' %>
                    <% if i.system_domain? %>
                      <%= link_to icon('fa-solid', 'trash'), "#", disabled: 'disabled', class: 'btn btn-danger btn-sm' %>
                    <% else %>
                      <%= link_to icon('fa-solid', 'trash'), admin_container_domains_path(i), method: :delete, data: {confirm: t('confirm_prompt')}, class: 'btn btn-danger btn-sm' %>
                    <% end %>
                  </div>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
<% end %>
