<%= form_tag "/admin/volumes", id: 'deleteVolumes', method: :delete do %>
<table class="table">
  <thead>
    <tr>
      <th style="padding-left:3px;">
        <%= button_tag type: 'submit', class: 'btn btn-danger btn-sm', data: {confirm: 'Are you sure?'} do %>
          <i class="fa fa-trash"></i>
        <% end %>
      </th>
      <th>ID</th>
      <th>Label</th>
      <th>Usage</th>
      <th>Project</th>
      <th>Container Service</th>
      <th>Created</th>
      <th>Delete After</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% if volumes.empty? %>
      <tr><td colspan="9" class="text-center">No volumes found.</td> </tr>
    <% end %>
    <% volumes.each do |i| %>
      <tr>
        <td><input class="chkbox-multi" type="checkbox" name="volume_ids[]" value="<%= i.id %>"></td>
        <td><%= link_to i.id, "/admin/volumes/#{i.id}" %></td>
        <td><%= link_to i.label, "/admin/volumes/#{i.id}" %></td>
        <td><%= i.usage %> GB</td>
        <td><%= link_to(i.deployment.name, "/admin/deployments/#{i.deployment.id}") if i.deployment %></td>
        <td><%= i.container_service.label if i.container_service %></td>
        <td><%= l i.created_at.in_time_zone(Time.zone), format: :short %></td>
        <td>
          <% if i.to_trash && i.trash_after %>
            <%= l i.trash_after.in_time_zone(Time.zone), format: :short %>
          <% else %>
            ...
          <% end %>
        </td>
        <td class="text-right">
          <div class="btn-group">
            <%= link_to tag.i(nil, class: 'fa fa-wrench fa-fw'), "/admin/volumes/#{i.id}/edit", class: 'btn btn-default btn-sm' %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<span class="help-block">Hint: Use the shift key to select a range of checkboxes.</span>
<% end %>