<% content_for :breadcrumb do %>
  <div class="row has-breadcrumb">
    <ol class="breadcrumb">
      <li><%= link_to "Projects", "/admin/deployments" %></li>
      <li><%= link_to "Project: #{@deployment.name}", @base_url %></li>
      <li class="active">Events</li>
    </ol>
  </div>
<% end %>

<div class="row">
  <div class="col-md-12">
    <p class="lead">
      Events for <%= @deployment.name %>
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-12">
        <%= render partial: "admin/event_logs/list", locals: { logs: @logs, root_path: "#{@base_url}/events" } %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <%= will_paginate @logs %>
      </div>
    </div>
  </div>
</div>
