<% if data.empty? %>
  <table class="table">
    <tbody>
    <tr>
      <td class="text-center">
        <%= link_to t('container_images.params.env.new_button'), new_container_image_env_path(image) %>
        <br>
        <%= t('container_images.params.env.new_snippet_html') %>
      </td>
    </tr>
    </tbody>
  </table>
<% else %>
  <table class="table">
    <thead>
    <tr>
      <th><%= t('common.name') %></th>
      <th><%= t('container_images.params.common.param_type.title') %></th>
      <th><%= t('container_images.params.common.value') %></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <% data.each do |i| %>
      <tr>
        <td style="vertical-align: middle;">
          <% if (i.label == i.name) || i.label.blank? %>
            <%= i.name %>
          <% else %>
            <%= i.label %><br>
            <small><%= i.name %></small>
          <% end %>
        </td>
        <td style="vertical-align: middle;"><%= i.param_type.capitalize %></td>
        <td style="vertical-align: middle;"><%= i.value %></td>
        <td class="text-right">
          <% if @container.can_edit?(current_user) %>
            <div class="btn-group">
              <%= link_to icon('fa-solid', 'wrench'), edit_container_image_env_path(i), class: 'btn btn-xs btn-default' %>
              <%= link_to icon('fa-solid', 'trash'), container_image_env_path(i), method: :delete, data: { confirm: t('confirm_prompt') }, class: 'btn btn-xs btn-danger' %>
            </div>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
