<% content_for :breadcrumb do %>
  <div class="row has-breadcrumb">
    <ol class="breadcrumb">
      <li><%= link_to t('obj.images'), container_images_path %></li>
      <li><%= link_to @env.container_image.label, container_image_path(@env.container_image) %></li>
      <li class="active">
        <%= t 'container_images.params.env.breadcrumb.edit', name: @env.name %>
      </li>
    </ol>
  </div>
<% end %>

<div class="row">
  <div class="<%= @env.errors.count.zero? ? 'col-lg-8 col-lg-offset-2 col-md-12' : 'col-sm-8' %>">
    <%= form_for @env, url: "#{container_image_path(@env.container_image)}/env_params/#{@env.id}", method: :put do |f| %>
      <div class="panel panel-default">
        <%= render partial: 'container_images/env_params/form', locals: { f: f } %>
        <div class="panel-footer">
          <%= link_to t('actions.cancel'), container_image_path(@env.container_image), class: 'btn btn-default', style: 'margin-right: 10px;' %>
          <%= submit_tag t('actions.update'), class: 'btn btn-success pull-right' %>
        </div>
      </div>
    <% end %>
  </div>
  <%= render partial: 'application/model_errors', locals: { errors: @env.errors, obj: 'env param' } unless @env.errors.count.zero? %>
</div>
