<% content_for :title, "#{@container.name} Charts" %>
<% content_for :breadcrumb do %>
  <div class="row has-breadcrumb">
    <ol class="breadcrumb">
      <li><%= link_to 'Projects', "/deployments" %></li>
      <li><%= link_to @deployment.name, deployments_path(@deployment) %></li>
      <li><%= link_to @service.label, container_service_path(@service) %></li>
      <li><%= link_to @container.name, container_path(@container) %></li>
      <li class="active"><%= @container.name %> Charts</li>
    </ol>
  </div>
<% end %>

<div class="row" style="margin-bottom:20px;">
  <div class="col-sm-12">
    <small>CONTAINER</small>
    <h4 style="margin-top:0px;"><%= @container.name %></h4>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-sm-12">
    <%= render partial: 'containers/charts/cpu/cpu_usage', locals: { container: @container } %>
  </div>
  <div class="col-md-6 col-sm-12">
    <%= render partial: 'containers/charts/cpu/cpu_throttle', locals: { container: @container } %>
  </div>
</div>

<% if @container.package_has_swap? %>
<div class="row">
  <div class="col-sm-12">
    <%= render partial: 'containers/charts/memory/usage', locals: { container: @container } %>
  </div>
</div>
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <%= render partial: 'containers/charts/memory/memory_swap', locals: { container: @container } %>
    </div>
    <div class="col-md-6 col-sm-12">
      <%= render partial: 'containers/charts/memory/memory_throttled', locals: { container: @container } %>
    </div>
  </div>
<% else %>
<div class="row">
  <div class="col-md-6 col-sm-12">
    <%= render partial: 'containers/charts/memory/usage', locals: { container: @container } %>
  </div>
  <div class="col-md-6 col-sm-12">
    <%= render partial: 'containers/charts/memory/memory_throttled', locals: { container: @container } %>
  </div>
</div>
<% end %>

<% if @container.load_balancer %>
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <%= render partial: 'containers/charts/load_balancer/bytes', locals: { container: @container } %>
    </div>
    <div class="col-md-6 col-sm-12">
      <%= render partial: 'containers/charts/load_balancer/sessions', locals: { container: @container } %>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="col-sm-12">
    <%= render partial: 'containers/charts/network/bytes', locals: { container: @container } %>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <%= render partial: 'containers/charts/disk/usage', locals: { container: @container } %>
  </div>
</div>

