<div class="panel-body">
  <div class="row">
    <div class="col-xs-12"><strong>PERSISTENT VOLUMES <a style="cursor:pointer;" class="order-volume-param-toggle" data-list-id="order-vol-param-list-<%= container[:image_variant_id] %>">[SHOW]</a></strong></div>
  </div>
  <div class="order-volume-param-list" id="order-vol-param-list-<%= container[:image_variant_id] %>" style="display:none;">
    <div class="row">
      <div class="col-xs-12">
        <div class="code-font-minimal">
          <ul class="list-unstyled">
            <% container[:volumes].each do |volume| %>
              <% if volume[:source].blank? %>
                <li><%= volume[:source].blank? ? "Create Volume #{volume[:label]} and mount at " : "Mount Volume #{volume[:source]} at " %><%= volume[:mount_path] %>.</li>
              <% else %>
                <li><%= volume[:source] =~ /project/ ? "Clone " : "Mount " %><%= "Volume #{volume[:source]} at " %><%= volume[:mount_path] %>.</li>
              <% end %>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<hr>
