<% content_for :title, t('deployments.shared.main_nav.new_deployment') %>
<% content_for :breadcrumb do %>
  <div class="row has-breadcrumb">
    <ol class="breadcrumb">
      <%= tag.li link_to(t('header.nav.apps'), "/deployments/orders") %>
      <%= tag.li t('orders.projects.container_params.app_settings'), class: 'active' %>
      <li class="pull-right no-spacer">
        <%= link_to "<i class='fa-solid fa-xmark'></i>  #{t('orders.projects.cancel')}".html_safe, "/deployments/orders/cancel", class: "btn btn-sm btn-warning", style: "margin-top:-3px;" %>
      </li>
    </ol>
  </div>
<% end %>

<%= form_tag "/deployments/orders/containers", method: :put do %>

  <% @order_session.images.each do |container| %>
    <% next if container[:free] == 'yes' && container[:params].empty? %>
    <input id="image-<%= container[:image_variant_id] %>" type="hidden" name="image_map[<%= container[:image_variant_id] %>]" value="<%= container[:image_variant_id] %>">
    <% unless container[:free] == 'yes' %>
    <input id="p<%= container[:image_variant_id] %>" class='container-package-input' data-index="<%= container[:image_variant_id] %>" type="hidden" name="package[<%= container[:image_variant_id] %>]" value="<%= container['free'] == 'yes' ? 0 : container[:package_id] %>">
    <% end %>
    <input id="image-<%= container[:image_id] %>-variant" class="image-variant-input" data-image="<%= container[:image_id] %>" type="hidden" name="image_variant_selector[<%= container[:image_id] %>]" value="<%= container[:image_variant_id] %>">
    <div class="row">
      <div class="col-xs-12">
        <div class="panel panel-primary">
          <div class="panel-body" >
            <div class="pull-right hidden-xs hidden-sm">
              <%= image_tag order_image_icon_path(container[:image_id]), style: "width:60px;position:absolute;margin-left:-65px;" %>
            </div>
            <div style="text-transform: uppercase;font-size:18px;font-weight:300;text-indent: 5px;letter-spacing: 1.5px">
              <%= container[:container_name] %>
            </div>
          </div>

          <% if order_image_variant_list(container[:image_id]).count > 1 || order_container_has_user_params?(container) %>
            <div class="row">
              <div class="<%= order_params_use_large_layout? ? 'col-xs-12' : 'col-sm-6 col-xs-12' %>">
                <%= render partial: "deployments/orders/image_variant_grid", locals: { container: container, variant_list: order_image_variant_list(container[:image_id]) } %>
                <%= render partial: "deployments/orders/container_params", locals: { container: container } if order_container_has_user_params?(container) %>
                <%= render partial: "deployments/orders/container_volumes", locals: { container: container } unless container[:volumes].empty? %>
                <%=
                  render partial: "orders/containers/addon",
                         locals: {
                           container: container,
                           region: @region,
                           project_owner: @project_owner,
                           order_session: @order_session
                         } unless order_addons_for_image(container[:image_id]).empty?
                %>
              </div>
              <div class="<%= order_params_use_large_layout? ? 'col-xs-12' : 'col-sm-6 col-xs-12' %>">
                <%=
                  render partial: "deployments/orders/image_packages",
                         locals: {
                           container: container,
                           project_owner: @project_owner,
                           region: @region,
                           large_layout: order_params_use_large_layout?
                         } unless container[:free] == 'yes'
                %>
              </div>
            </div>
          <% else %>
            <%= render partial: "deployments/orders/container_volumes", locals: { container: container } unless container[:volumes].empty? %>
            <%=
              render partial: "deployments/orders/image_packages",
                     locals: {
                       container: container,
                       project_owner: @project_owner,
                       region: @region,
                       large_layout: true
                     } unless container[:free] == 'yes'
            %>
          <% end %>



        </div>
      </div>
    </div>
  <% end %>
  <div class="row"><div class="col-sm-12">
    <%= submit_tag t('actions.continue'), class: "btn btn-success btn-block" %>
  </div></div>

<% end %>
<% if current_user.is_support_admin? || Rails.env.development? %>
  <div class="row" style="margin-top:10px;">
    <div class="col-md-12" style="color:#ccc;font-size:12px;">
      <%= render partial: 'deployments/orders/admin_header' %>
    </div>
  </div>
<% end %>
