<% content_for :breadcrumb do %>
  <div class="row has-breadcrumb">
    <ol class="breadcrumb">
      <li><%= link_to t('obj.volumes'), "/volumes" %></li>
      <li><%= link_to @volume.label, "/volumes/#{@volume.id}" %></li>
      <li><%= link_to t('volumes.events.breadcrumb'), "/volumes/#{@volume.id}/logs" %></li>
      <li class="active"><%= t 'volumes.events.item', id: @log.id %></li>
    </ol>
  </div>
<% end %>

<%= render partial: "event_logs/show", locals: { log: @log, subscribers: @subscribers } %>