<% content_for :title, "#{@service.label} Events" %>

<% content_for :breadcrumb do %>
  <div class="row has-breadcrumb">
    <ol class="breadcrumb">
      <li><%= link_to 'Projects', "/deployments" %></li>
      <li><%= link_to @deployment.name, deployments_path(@deployment) %></li>
      <li><%= link_to @service.label, container_service_path(@service) %></li>
      <li class="active">Events</li>
    </ol>
  </div>
<% end %>


<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-12">
        <%= render partial: "event_logs/list", locals: { logs: @logs, root_path: "#{container_service_path(@service)}/events" } %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <%= will_paginate @logs %>
      </div>
    </div>
  </div>
</div>
