<% content_for :title, @domain.domain %>
<% content_for :breadcrumb do %>
  <div class="row has-breadcrumb">
    <ol class="breadcrumb">
      <% if @deployment %>
        <li><%= link_to t('obj.deployments'), "/deployments" %></li>
        <li><%= link_to @deployment.name, deployments_path(@deployment) %></li>
      <% else %>
        <li><%= link_to t('obj.domains'), "/container_domains" %></li>
      <% end %>
      <li class="active"><%= @domain.domain %></li>
    </ol>
  </div>
<% end %>

<div class="row">
  <div class="col-lg-8 col-lg-offset-2 col-sm-12">

    <div class="row">

      <div class="col-md-12">
        <div class="panel panel-default">
          <table class="table-list">
            <tr>
              <td><%= t 'container_services.domains.attributes.status' %></td>
              <td><%= @domain.enabled ? 'Active' : 'Disabled' %></td>
            </tr>
            <tr>
              <td><%= t 'obj.service' %></td>
              <td><%= @domain.container_service.nil? ? '...' : link_to(@domain.container_service.label, admin_deployments_path(@domain.deployment)) %></td>
            </tr>
            <tr>
              <td><%= t 'obj.user' %></td>
              <td><%= @domain.user.nil? ? '...' : link_to(@domain.user.full_name, admin_user_path(@domain.user)) %></td>
            </tr>
            <tr>
              <td><%= t 'common.updated' %></td>
              <td><%= l @domain.updated_at.in_time_zone(Time.zone), format: :long %></td>
            </tr>
            <tr>
              <td><%= t 'common.created' %></td>
              <td><%= l @domain.created_at.in_time_zone(Time.zone), format: :long %></td>
            </tr>
          </table>
        </div>
      </div>

    </div>

    <% unless @domain.audits.empty? %>
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">
            <table class="table">
              <% @domain.audits.each do |i| %>
                <tr>
                  <td>
                    <%= admin_audit_description i %>
                    <br>
                    <span style="font-size:0.9em;">
                      <i class="fa-regular fa-circle-dot text-success"></i>
                      <% if i.user.nil? %>
                        <%= t 'audit.performed_by_html', user: 'System' %>
                      <% else %>
                        <%= t 'audit.performed_by_html', user: performer(i) %>
                      <% end %>
                    </span>
                  </td>
                  <td class="text-right"><%= l i.created_at.in_time_zone(Time.zone), format: :long %></td>
                </tr>
              <% end %>
            </table>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
