<%= content_for :title, "Order: #{@order.id}" %>

<% content_for :breadcrumb do %>
  <div class="row has-breadcrumb hidden-xs">
    <ol class="breadcrumb">
      <li><%= link_to t('obj.deployments'), "/deployments" %></li>
      <li class="active"><%= @order.id %></li>
    </ol>
  </div>
<% end %>

<div class="remote-resource refresh" data-url="/orders/<%= @order.id %>">
  <div class="row">
    <div class="col-xs-12 text-center" style="padding:25px 0;">
      <%= icon('fa-solid fa-spin', 'rotate') %>
    </div>
  </div>
</div>
