<table class="table">
  <thead>
  <tr>
    <th><%= t 'obj.port' %></th>
    <th><%= t 'container_images.ingress_rules.list.table.columns.proto' %></th>
    <th><%= t('container_images.ingress_rules.list.table.columns.port_nat') %></th>
    <th><%= t 'container_images.ingress_rules.list.table.columns.lb' %></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% if ingress_rules.empty? %>
    <tr>
      <td colspan="5" class="text-center"><%= link_to "Add Rule", "ingress/new" %></td>
    </tr>
  <% end %>
  <% ingress_rules.each do |i| %>
    <tr>
      <td><%= i.port %></td>
      <td><%= ingress_backend_proto i %></td>
      <td><%= ingress_toggle_btn i %></td>
      <td><%= ingress_load_balancer i %></td>
      <td class="text-right">
        <% if return_to == 'service' %>
          <%= link_to icon('fa-solid', 'wrench'), "#{edit_ingress_rule_path(i)}?return_to=service", class: 'btn btn-sm btn-default' %>
        <% else %>
          <%= link_to icon('fa-solid', 'wrench'), "#{edit_ingress_rule_path(i)}", class: 'btn btn-sm btn-default' %>
        <% end %>
        <%= link_to icon('fa-solid', 'trash'), ingress_rule_path(i), method: :delete, class: 'btn btn-sm btn-danger', data: { confirm: "Are you sure? This will also delete any associated domains." } %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
