<div class="panel panel-default">
  <div class="panel-heading" style="padding:2px;"></div>
  <table class="table-list">
    <% settings.each do |s| %>
      <tr>
        <td><%= s.label.nil? ? s.name.gsub("_", " ").capitalize : s.label %></td>
        <td id="setting_<%= s.id %>" style="overflow:hidden;text-overflow: ellipsis; white-space: nowrap;max-width: 200px;">
          <% if s.param_type == 'password' %>
            <%= link_to t('actions.show'), service_param_path(s), class: "inline-remote-resource" %>
          <% elsif s.value.blank? %>
            ...
          <% else %>
            <% if s.value.length >= 30 %>
              <a href="#" data-toggle="modal" data-target="#view-setting-<%= s.id %>"><%= truncate s.value, length: 30 %></a>
              <%= render partial: 'container_services/show/setting', locals: {setting: s} %>
            <% else %>
              <%= s.value %>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
