<div class="row">
  <div class="<%= current_user.errors.count.zero? ? 'col-xs-12' : 'col-lg-8 col-md-12' %>">
    <%= form_for current_user, url: '/users/edit' do |f| %>
      <div class="panel panel-warning">
        <div class="panel-heading" style="padding:2px;"></div>
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-12">
              <div class="form-group">
                <%= f.label :current_password %>
                <%= f.password_field :current_password, class: 'form-control' %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 col-xs-12">
              <div class="form-group">
                <%= f.label :password %>
                <%= f.password_field :password, class: 'form-control' %>
              </div>
            </div>
            <div class="col-sm-6 col-xs-12">
              <div class="form-group">
                <%= f.label :password_confirmation %>
                <%= f.password_field :password_confirmation, class: 'form-control' %>
              </div>
            </div>
          </div>
        </div>
        <div class="panel-footer text-right">
          <%= submit_tag 'Change Password', class: 'btn btn-success' %>
        </div>
      </div>
    <% end %>
  </div>
  <%= render(partial: 'application/model_errors', locals: { errors: current_user.errors, obj: 'account' }) unless current_user.errors.count.zero? %>
</div>
