<% if volumes.empty? %>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-body text-center">No Volumes</div>
      </div>
    </div>
  </div>
<% else %>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Label</th>
              <th>Usage</th>
              <th>Container Service</th>
              <th>Created</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% volumes.each do |i| %>
              <tr>
                <td>
                  <%= link_to i.id, "/admin/volumes/#{i.id}" %>
                  <%= %Q(&nbsp; #{volume_ha_warning(i)}).html_safe if i.region.has_clustered_storage? && !i.uses_clustered_storage? %>
                </td>
                <td><%= link_to i.label, "/admin/volumes/#{i.id}" %></td>
                <td><%= i.usage %> GB</td>
                <td><%= volume_attached_services i %></td>
                <td><%= l i.created_at.in_time_zone(Time.zone), format: :short %></td>
                <td class="text-right">
                  <div class="btn-group">
                    <% if from %>
                      <%= link_to icon('fa-solid', 'wrench'), "/admin/volumes/#{i.id}/edit?from=#{from}", class: 'btn btn-default btn-sm' %>
                    <% else %>
                      <%= link_to icon('fa-solid', 'wrench'), "/admin/volumes/#{i.id}/edit", class: 'btn btn-default btn-sm' %>
                    <% end %>
                  </div>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
<% end %>
