<% content_for :breadcrumb do %>
  <div class="row has-breadcrumb">
    <ol class="breadcrumb">
      <% if @container.deployment %>
        <li><%= link_to "Projects", "/admin/deployments" %></li>
        <li><%= link_to @container.deployment.name, admin_deployments_path(@container.deployment) %></li>
      <% else %>
        <li><%= link_to 'Containers', '/admin/containers' %></li>
      <% end %>
      <li class="active"><%= @container.label %></li>
    </ol>
  </div>
<% end %>

<div class="row">
  <div class="col-lg-8 col-lg-offset-2 col-sm-12">

    <div class="row">
      <div class="col-md-6">
        <p class="lead" style="word-wrap: break-word;"><%= @container.label %></p>
      </div>
      <div class="col-md-6 text-right">
        <% if @container.can_migrate? %>
          <%= link_to "<i class='fa-solid fa-truck'></i> Migrate".html_safe, "/admin/containers/#{@container.id}/migrate_container", class: 'btn btn-sm btn-danger' %>
        <% else %>
          <%= link_to "<i class='fa-solid fa-truck'></i> Migrate".html_safe, '#', disabled: 'disabled', class: 'btn btn-sm btn-danger', title: t('containers.high_availability.migration.error') %>
        <% end %>
        <%= link_to '<i class="fa-solid fa-up-right-from-square"></i> Container Details'.html_safe, container_path(@container), class: 'btn btn-primary btn-sm' %>
        <%= render partial: "admin/containers/shared/power_controls", locals: { container: @container } %>
      </div>
    </div>

    <div class="row">

      <div class="col-md-12">
        <div class="panel panel-default">
          <table class="table-list">
            <tr>
              <td>Status</td>
              <td><%= @container.current_state&.capitalize %></td>
            </tr>
            <tr>
              <td>Resources</td>
              <td><%= admin_container_resources @container %></td>
            </tr>
            <tr>
              <td>Subscription ID</td>
              <td><%= @container.subscription.nil? ? '...' : link_to(@container.subscription.id, "/admin/subscriptions/#{@container.subscription.id}") %></td>
            </tr>
            <tr>
              <td>Project</td>
              <td><%= @deployment.nil? ? '...' : link_to(@deployment.name, admin_deployments_path(@deployment)) %></td>
            </tr>
            <tr>
              <td>Service</td>
              <td><%= @container.service.nil? ? '...' : link_to(@container.service.label, admin_container_service_path(@container.service)) %></td>
            </tr>
            <tr>
              <td>Node</td>
              <td><%= link_to(@container.node.label, admin_regions_url(@container.node.region)) if @container.node %></td>
            </tr>
          </table>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading"><div class="panel-title">Attached Volumes</div></div>
          <div class="remote-resource" data-url="<%= admin_containers_path(@container) %>/remote_volumes">
            <div style="padding:25px 0;" class="text-center">
              <%= icon('fa-solid fa-spin', 'rotate') %>
              <%= t 'common.loading_obj', obj: t('obj.volumes') %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="remote-resource refresh" data-url="<%= admin_containers_path(@container) %>/events">
            <div class="text-center" style="padding: 25px 0;"><%= icon('fa-solid fa-spin', 'rotate') %> <%= t 'common.loading_obj', obj: t('events.plural') %></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
