<% content_for :breadcrumb do %>
  <div class="row has-breadcrumb">
    <ol class="breadcrumb">
      <li><%= link_to t('obj.services'), "/container_services" %></li>
      <li><%= link_to @service.name, "/container_services/#{@service.id}" %></li>
      <li><%= link_to "Environmental Parameters", "/container_services/#{@service.id}/environmental" %></li>
      <li class="active"><%= t 'container_services.env.new' %></li>
    </ol>
  </div>
<% end %>

<div class="row">
  <div class="<%= @env.errors.count.zero? ? 'col-lg-8 col-lg-offset-2 col-md-12' : 'col-sm-8' %>">
    <%= form_for @env, url: "/container_services/#{@service.id}/environmental", method: :post do |f| %>
      <div class="panel panel-default">
        <%= render partial: 'container_services/environmental/form', locals: { f: f } %>
        <div class="panel-footer">
          <%= link_to t('actions.cancel'), "/container_services/#{@service.id}/environmental", class: 'btn btn-default', style: 'margin-right: 10px;' %>
          <%= submit_tag t('actions.create'), class: 'btn btn-success pull-right' %>
        </div>
      </div>
    <% end %>
  </div>
  <%= render partial: 'application/model_errors', locals: { errors: @env.errors, obj: 'env param' } unless @env.errors.count.zero? %>
</div>
