<% content_for :title, t('.title') %>

<div class="row">
  <div class="block-center col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-12">
    <div class="panel panel-default">
      <%= form_tag "/users/security_key_auth", method: :post, id: "securityGatewayAuthForm" do %>
        <div class="panel-body text-center">
          <input type="hidden" name="type" value="<%= @selected_auth %>">
          <%= render partial: "users/security_key_auth/totp" if @selected_auth == "totp" %>
          <%= render partial: "users/security_key_auth/security_key" if @selected_auth == "webauthn" %>
        </div>
        <div class="panel-body">
          <%= submit_tag t('actions.auth'), class: "btn btn-success btn-block" %>
        </div>
        <div class="panel-footer">
          <%= link_to t('actions.cancel'), "/users/security_key_auth/0", method: :delete, class: 'btn btn-default btn-block'  %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class="block-center col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-12">
    <div class="pull-right text-right">
      <strong><%= t 'users.security_key_auth.new.help_title' %></strong>
      <p><%= t 'users.security_key_auth.new.support', { support_line: Setting.general_support_line } %></p>
    </div>
    <% unless @available_auths.empty? %>
      <strong><%= t 'users.security_key_auth.new.alt_methods' %></strong>
      <br>
      <%= sanitize @available_auths.join(" | ") %>
    <% end %>
  </div>
</div>
