<% content_for :breadcrumb do %>
  <div class="row has-breadcrumb">
    <ol class="breadcrumb">
      <li><%= link_to 'Regions', '/admin/locations' %></li>
      <li class="active"><%= @region.name %></li>
    </ol>
  </div>
<% end %>

<div class="row">
  <div class="col-md-8 col-xs-6"><p class="lead"><%= @region.name %></p></div>
  <div class="col-md-4 col-xs-6 text-right">
    <% if @region.can_migrate_network_driver? %>
      <%= link_to 'Migrate Network Driver', "#{admin_region_url(@region)}/network_migrate", method: :post, data: { confirm: 'Are you sure? This will rebuild all containers.' }, class: 'btn btn-warning' %>
    <% end %>
    <%= link_to icon('fa-solid', 'wrench'), edit_admin_region_url(@region), class: 'btn btn-default' %>
    <%= link_to icon('fa-solid', 'trash'), admin_region_url(@region), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
  </div>
</div>
<br />
<div class="row">
  <div class="col-xs-12 remote-resource refresh" data-url="/admin/regions/<%= @region.id %>/nodes">
    <p class="text-center"><%= icon('fa-solid fa-spin', 'rotate') %></p>
  </div>
</div>
