<%= render partial: 'admin/layouts/shared/settings_nav' %>

<div class="row">
  <div class="col-xs-12">
    <p class="lead">Load Balancers</p>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Region</th>
            <th>Public IP</th>
            <th>Domain</th>
            <th>Last Deployed</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% if @load_balancers.empty? %>
            <tr>
              <td colspan="5" class="text-center">No Load Balancers</td>
            </tr>
          <% end %>
          <% @load_balancers.each do |lb| %>
            <tr>
              <td><%= link_to lb.label, edit_admin_load_balancer_url(lb) %></td>
              <td><%= link_to lb.region&.name, "/admin/regions?filter=#{lb.region&.id}" %></td>
              <td><%= link_to lb.public_ip, edit_admin_load_balancer_url(lb) %></td>
              <td><%= link_to lb.domain, admin_load_balancer_url(lb) %></td>
              <td class="remote-resource refresh" data-url="<%= "/admin/load_balancers/#{lb.id}?js=true" %>"><%= l lb.job_performed %></td>
              <td class="text-right">
                <%= link_to icon('fa-solid', 'rotate'), "/admin/load_balancers/#{lb.id}/deploy_load_balancer", method: :post, class: 'btn btn-success btn-sm', title: 'Deploy LoadBalancer Config', data: { confirm: 'Are you sure?' } %>
                <%= link_to icon('fa-solid', 'wrench'), edit_admin_load_balancer_url(lb), class: 'btn btn-default btn-sm' %>
                <%= link_to icon('fa-solid', 'trash'), admin_load_balancer_url(lb), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
