<div class="row"><div class="col-md-12"><%= render partial: 'admin/users/show/header' %></div></div>
<div class="row">
  <div class="col-lg-2 col-md-3 col-xs-12">
    <%= render partial: "admin/users/show/sidebar" %>
  </div>
  <div class="col-lg-10 col-md-9 col-xs-12">
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="overview">
        <%= render partial: 'admin/users/show/overview' %>
      </div>
      <div role="tabpanel" class="tab-pane remote-resource" data-url="<%= admin_user_path(@user) %>/subscriptions" id="subscriptions">
        <p class="text-center"><i class="fa fa-refresh fa-spin"></i></p>
      </div>
      <div role="tabpanel" class="tab-pane" id="deployments">
        <%= render partial: 'admin/users/show/deployments', locals: { deployments: @deployments } %>
      </div>
      <div role="tabpanel" class="tab-pane" id="images">
        <%= render partial: 'admin/users/show/images', locals: { images: @images } %>
      </div>
      <div role="tabpanel" class="tab-pane" id="zones">
        <%= render partial: 'admin/users/show/zones', locals: { zones: @zones } %>
      </div>
      <div role="tabpanel" class="tab-pane" id="volumes">
        <%= render partial: 'admin/users/show/volumes', locals: { volumes: @volumes }  %>
      </div>
      <div role="tabpanel" class="tab-pane" id="letsencrypt">
        <%= render partial: 'admin/users/show/lets_encrypt', locals: { certs: @certs }  %>
      </div>
    </div>
  </div>
</div>
