<% content_for :breadcrumb do %>
  <div class="row has-breadcrumb">
    <ol class="breadcrumb">
      <li><%= link_to t('obj.images'), container_images_path %></li>
      <li><%= link_to @ingress.container_image.label, container_image_path(@ingress.container_image) %></li>
      <li class="active"><%= t 'container_images.ingress_rules.new' %></li>
    </ol>
  </div>
<% end %>

<div class="row">
  <div class="<%= @ingress.errors.count.zero? ? 'col-sm-12' : 'col-sm-8' %>">
    <%= form_for @ingress, url: container_image_ingress_params_path(@ingress.container_image), method: :post do |f| %>
      <div class="panel panel-default">
        <%= render partial: 'container_images/ingress_params/form', locals: { f: f } %>
        <div class="panel-footer">
          <%= link_to t('actions.cancel'), container_image_path(@ingress.container_image), class: 'btn btn-default', style: 'margin-right: 10px;' %>
          <%= submit_tag t('actions.create'), class: 'btn btn-success pull-right' %>
        </div>
      </div>
    <% end %>
  </div>
  <%= render partial: 'application/model_errors', locals: { errors: @ingress.errors, obj: 'ingress rule' } unless @ingress.errors.count.zero? %>
</div>
