<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="<%= Rails.env.production? ? "/assets/" : "/" %>custom/favicon.ico"/>
  <title><%= content_for?(:title) ? "#{yield(:title)} | #{Setting.app_name}" : Setting.app_name %></title>
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : Setting.app_name %>">
  <link rel="stylesheet" href="<%= Rails.env.production? ? "/assets/" : "/" %>custom/application.css">
  <%= stylesheet_link_tag "application" %>
  <%# javascript_include_tag "application" %>
  <%= javascript_importmap_tags %>
  <%= csrf_meta_tags %>
  <%= yield(:head) %>
  <%= render partial: "layouts/plugins/google_analytics" if Setting.google_analytics_enabled? %>
</head>
<body class="has-nav" data-modal-title="<%= t 'actions.confirm' %>" data-modal-cancel="<%= t 'actions.cancel' %>" data-modal-yes="<%= t 'actions.ok' %>" data-modal-currency="<%= DEFAULT_CURRENCY %>">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar-menu" aria-expanded="false">
          <span class="sr-only"><%= t 'header.nav.sr' %></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to(image_tag("#{Rails.env.production? ? '/assets/' : '/'}custom/#{Setting.branding_img_app}"), "/", class: 'navbar-brand') unless Setting.branding_img_app.nil? %>
      </div>
      <div class="collapse navbar-collapse" id="main-navbar-menu">
        <ul class="nav navbar-nav">
          <li role="separator" class="divider"></li>
          <li class="<%= request.path =~ /alert_notifications|deployments|container_domains|volumes|container_services/ ? 'active' : '' %>">
            <%= link_to t('header.nav.apps'), "/deployments" %>
          </li>
          <li class="<%= controller.controller_name == 'container_images' ? 'active' : '' %>">
            <%= link_to t('deployments.shared.main_nav.images'), "/container_images" %>
          </li>
          <li class="<%= %w(container_registry registry_connect).include?(controller.controller_name) ? 'active' : '' %>">
            <%= link_to t('deployments.shared.main_nav.registry'), "/container_registry" %>
          </li>
          <% if Feature.check('dns', current_user) %>
            <li class="<%= controller.controller_name =~ /dns|forward/ ? 'active' : '' %>">
              <%= link_to t('header.nav.dns'), "/dns" %>
            </li>
          <% end %>
        </ul>
        <ul class="nav navbar-nav visible-xs">
          <li><%= link_to t('search.title'), '/search' %></li>
          <li><%= link_to t('header.nav.profile'), "/users/edit" %></li>
          <li><%= link_to t('header.nav.logout'), "/logout" %></li>
          <% if current_user.is_admin %>
            <li class="divider" role="separator"></li>
            <li><%= link_to "Admin", "/admin" %></li>
            <li><%= link_to "v#{COMPUTESTACKS_VERSION}", "/admin/changelog" %></li>
          <% end %>
        </ul>

        <ul class="nav navbar-nav navbar-right hidden-xs">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img src="<%= current_user.avatar_url(28) %>" class="img-circle" style="margin-top:-8px;margin-bottom:-5px;"/>
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to t('header.nav.profile'), "/users/edit" %></li>
              <li role="separator" class="divider"></li>
              <li><%= link_to t('header.nav.logout'), "/logout" %></li>
              <% if current_user.is_admin %>
                <li class="divider" role="separator"></li>
                <li><%= link_to "Admin", "/admin" %></li>
                <li><%= link_to "v#{COMPUTESTACKS_VERSION}", "/admin/changelog" %></li>
              <% end %>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right hidden-xs">
          <li class="remote-resource refresh" data-url="/alert_notifications/status"></li>
          <% if current_user.is_admin %>
            <li><%= link_to 'Admin', "/admin/dashboard" %></li>
            <li role="separator" class="divider"></li>
          <% end %>
          <li role="separator" class="divider"></li>
        </ul>
        <%= form_tag("/search", method: :post, class: 'navbar-form navbar-right hidden-sm hidden-xs', role: 'search') do %>
          <div class="form-group">
            <input class="form-control" type="text" data-placeholder="<%= t 'search.title' %>" placeholder="<%= t 'search.title' %>" name="q" />
          </div>
        <% end %>
      </div>
    </div>
  </nav>

  <div class="container-fluid" id="doc">
    <%= yield(:breadcrumb) %>
    <%= render partial: "application/flash", locals: { flash: flash } %>
    <%= yield %>
  </div>
  <%= yield(:footer) %>
  <%= render partial: 'layouts/plugins/belco' if Setting.belco_enabled? && current_user %>
</body>
</html>
