<!DOCTYPE html>
<html class="login-page">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="<%= Rails.env.production? ? "/assets/" : "/" %>custom/favicon.ico"/>
    <title><%= content_for?(:title) ? yield(:title) : Setting.app_name %></title>
    <!-- [if lt IE 9]>
      <script src="https://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : Setting.app_name %>">
    <%= stylesheet_link_tag "application" %>
    <link rel="stylesheet" href="<%= Rails.env.production? ? "/assets/" : "/" %>custom/application.css">
    <%# javascript_include_tag "application" %>
    <%= javascript_importmap_tags %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
    <%= render partial: "layouts/plugins/google_analytics" if Setting.google_analytics_enabled? %>
  </head>
  <body>
    <div class="container-fluid">
      <%= devise_error_messages! %>
      <%= render partial: "application/flash", locals: { flash: flash } %>
    </div><!-- .container -->
    <%= yield %>
  </body>
</html>
