<%= image_tag @service.container_image.icon_url, style: "max-width:50px;max-height:38px;padding-right:5px;margin-right:10px;margin-top:-3px;", class: "pull-left hidden-xs", title: @service.container_image.label, alt: @service.container_image.label %>

<p class="lead hidden-xs">
  <%= @service.label %>
  <span style="font-size:1.2rem;">
    <%= link_to service_image_friendly_name(@service), "/container_images/#{@service.container_image.id}" %>
  </span>
  <% if @service.region.has_clustered_storage? %>
    <span style="font-size:12px;vertical-align:top;"><%= service_ha_label @service %></span>
  <% end %>
</p>

<h4 class="visible-xs" style="margin-top:-5px;">
  <%= @service.label %>
  <% if @service.region.has_clustered_storage? %>
    <span style="font-size:12px;vertical-align:text-top;">&nbsp;&nbsp; <%= service_ha_label @service %></span>
  <% end %>
</h4>
